.myCarouselImg img {
  width: 1200px;
	
	
	
  height: 442px;
  max-height: 442px;
}

.imghead{
    background-image: url('../images/Capture.png');
    background-position: : bottom;
    background-size: cover;
    height: auto;
}

.picResize img { 
   height: 50px;
    width:50px;
}

.col-xs-6 {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.col-xs-6 a {
    margin-bottom: 0;
}

body {
   /* background-color:aliceblue;*/
    margin-top: 5px;
    margin-bottom: 5px;
        
}

ul.nav-pills {
      top: 700px;
        
      position: fixed;
  }

.myCarousel {
   height:442px;
    min-width:1200px;
}
.myCarousel div {
    position:absolute;
    z-index: 0;
}
.myCarousel div.previous {
    z-index: 1;
}
.myCarousel div.current {
    z-index: 2;
}
